.DS_Store
Thumbs.db
db.json
*.log
node_modules/
.deploy*/
_multiconfig.yml
*.code-workspace
.history

# Ignore Hexo's public directory and script temporary directories
public/*
!public/data/
public/data/*
!public/data/zhihu.json
_scripts/public/
_scripts/source/